html{
    font-size: 10px;
}
.style{
    margin: 0 auto;
    width: 30%;
    margin-top: 10%;
    background-color: black;
    border-radius: 3rem;
    height: 20rem;
}
.style-p{
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    width: 30%;
    padding: 2rem 2rem;
    border-radius: 3rem;
    text-align: center;
    transition: all 3s;
}
#rez{
    position: relative;
    animation: animationName1 4s linear infinite;
}
@keyframes animationName1{
    from,to{
        top: 0;
        left: 0;
        right: 0;
    }

    20%{
        left: 60%;
        background-color: blue;
    }

    40%{
        top: 60%;
        background-color: red;
    }

    60%{
        right: 60%;
        background-color: green;
    }

}